<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="position: relative ; z-index: 2;">
  
  <!-- Section: Links  -->
  <section class="container">
      <!-- Grid row -->
      <div class="row mt-3 w-100 text-start justify-content-evenly">
        <!-- Grid column -->
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="d-flex text-uppercase fw-bold mb-4">
            FlashJob<span class="d-flex d-md-none d-lg-none d-xl-none"> © 2022 Copyright : All rights reserved</span>
          </h6>
          <p>
            Conoce a verdaderos profesionales para tus tareas más simples.
          </p>
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">¿Necesitas ayuda?</h6>
          <p>Contactar</p>
          <p>Condiciones de uso</p>
          <p>Política de privacidad</p>
          <p>Política de cookies</p>
          <p>Gestionar cookies</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Sobre FlashJob</h6>
          <p>FlashJob hoy</p>
          <p>Trabaja con nosotros</p>
          <p>Ofertas de empleo</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p>flashjob@support.flashjob.com</p>
          <p>954 23 45 67</p>
          <p>648 23 45 67</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
  </section>
  <!-- Section: Links  -->

  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom text-white greenBack">
   
    <div class="me-5 d-none d-lg-block d-xl-block">
      <span>FlashJob © 2022 Copyright : All rights reserved</span>
    </div>

    <div>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
    </div>

  </section>
  <!-- Section: Social media -->

</footer>