.green{
  color: #73BB11;
}
.lightGreenBack{
  background-color: #B9DD88;
}
.lightGreen{
  color: #B9DD88;
}
.greenBack {
background-color: #73BB11;
}
.pinkBack {
background-color: #EA462F;
}
.back {
background-color: #F9F9F9;
}
.gray5 {
color: #555555;
}
.gray6 {
color: #666666;
}
.gray7 {
color: #777777;
}
