<p-table *ngIf="findRolUser() === 'admin'" [value]="listaAnunciosAdmin" #dt2 responsiveLayout="stack" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['listaCategorias.nombre']">


  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th pSortableColumn="titulo">Título <p-sortIcon field="titulo"></p-sortIcon>
      </th>
      <th pSortableColumn="categoria">Categoría <p-sortIcon field="categoria"></p-sortIcon>
      </th>
      <th pSortableColumn="precio">Precio <p-sortIcon field="precio"></p-sortIcon>
      </th>
      <!-- <th pSortableColumn="fechaAnuncio">Fecha publicación<p-sortIcon field="fechaAnuncio"></p-sortIcon>
      </th> -->
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-anuncio let-columns="anuncio">
    <tr>
      <td *ngIf="getImage(anuncio.file)== null"><img src="../../../assets/img/default.png" alt="Imagen" width="70"
          style="margin: -20px; padding: -20px; margin-left: 10px;" /></td>
      <td *ngIf="getImage(anuncio.file)!= null"><img src={{getImage(anuncio.file)}} alt="Imagen" width="70"
          style="margin: -20px; padding: -20px; margin-left: 10px;" /></td>
      <td [routerLink]="['/anuncio-detalle', anuncio.id]" class='textoConPuntos '><span class="p-column-title"
          pSortableColumn="titulo"><strong>Título</strong></span>{{anuncio.title}}</td>
      <td [routerLink]="['/anuncio-detalle', anuncio.id]"><span class="p-column-title"
          pSortableColumn="categoria"><strong>Categoría</strong></span>{{anuncio.categoryJ}}</td>
      <td [routerLink]="['/anuncio-detalle', anuncio.id]"><span class="p-column-title"
          pSortableColumn="precio"><strong>Precio</strong></span>{{anuncio.price}} €</td>
      <!-- <td [routerLink]="['/anuncio-detalle', anuncio.id]" style="overflow: hidden;"><span class="p-column-title"
          pSortableColumn="fechaAnuncio"><strong>Fecha publicación</strong></span>{{anuncio.fechaAnuncio?.slice(0,10)}}
      </td> -->
      <td></td>
      <td></td>
    </tr>
  </ng-template>

</p-table>
